.current-weather-wrapper{
    display: flex;
    position: relative;
}

.locality{
    text-transform: uppercase;
}

.city{
    font-size: 4vw;
}

.country{
    font-size: 4vw;
}

.date-time-wrapper{
    display: flex;
}

.date{
    font-size: 2.8vw;

}

.time{
    font-size: 2.8vw;

}

.weather-block{
    display: flex;
}

.weather-block__temperature{
    font-size: 15vw;
}

.inf-icon_wrapper{
    position: relative;
}

.weather-block__icon{
    position: relative;
    top: -6vw;
    font-size: 17vw;
    color: #44aadd;
}

.weather-block__icon:hover{
    animation: shake 2s;
}

.weather-block__inf{
    position: relative;
    top: -8vw;
    line-height: 2.5vw;
    margin: 0 1vw 1vw 1vw;
}

.weather-block__wind,
.weather-block__description,
.weather-block__feels-like,
.weather-block__humidity
{
    font-size: 1.5vw;
    text-transform: uppercase;
}