.weather-forecast-wrapper{
    position: absolute;
    margin-top: -7vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5vw;
}

.weather-forecast__day-week{
    font-size: 2.3vw;
}

.weather-forecast__temperature{
    font-size: 3vw;
}

.weather-forecast__icon{
    font-size: 5vw;
    color: #44aadd;
    vertical-align: top;
}

.weather-forecast__icon:hover{
    animation: shake 2s;
}